:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url("@assets/bg-bottom.png");
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.backgrounds {
  background: url(@assets/bg2.png) repeat;
  background-size: contain;
}
.item-2 {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.item-1 span {
  display: flex;
  background-color: #e2eaed;
  justify-items: center;
  align-items: center;
  border-radius: 24px;
  font-size: 14px;
  gap: 14px;
  width: fit-content;
}

.item-1 {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  align-content: center;
  justify-content: center;
  padding-left: 8px;
}

.cta-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cta-group * {
  width: -webkit-fill-available;
}

.hero-image {
  height: 300px;
}

.clients-container {
  text-align: center;
}

.client-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

@media (min-width: 768px) {
  .cta-group * {
    width: max-content;
  }

  .hero-image {
    height: 500px;
  }
}
