.footer {
  background-color: #09142e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
  padding: 100px;
}

.social-group svg {
  width: 36px;
}

svg:hover {
  fill: aqua;
}
