@import "components/Navbar/navbar.scss";
@import "components/Header/header.scss";
@import "components/Features/features.scss";
@import "components/Pricing/pricing.scss";

.section {
  display: flex;
  flex-direction: column;
}

.button {
  border-radius: 28px;
}

a {
  text-decoration: none;
  color: var(--text-header);
}

.cta-button {
  font-size: medium;
  font-weight: 500;
  background-color: #2500f9;
  color: white;
  border-radius: 24px;
  padding: 12px;
  margin-inline: auto;
}

.header-red {
  color: var(--accent-red);
}
.header-green {
  color: var(--accent-green);
}
.header-blue {
  color: var(--accent-blue);
}

@media (min-width: 768px) {
  .section {
    margin: 2rem 84px;
  }
}

@media (min-width: 1024px) {
  .section {
    margin-inline: 148px;
  }
}
